@charset "utf-8";
/*Site Classes*/

@font-face {
	font-family: Bitter;
	src: url('https://touchcatdigital.github.io/touchcatidigital.github.io/font/bitter-regular.otf');
}
html{
	font-family: Bitter, Helvetica, Arial, sans-serif;
}

body {
	background-color: #F1F1F1;
	color: #FFF;
	font-size: 1.615em;
	font-size: 1.615rem;
	line-height: 2.85em;
	line-height: 2.85rem;
	overflow-x: hidden;
	overflow-y: auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1, h2, h3, h4 {
	font-family: Bitter, Helvetica, Arial, sans-serif;
}

h1 {
	text-transform: uppercase;
	text-shadow: 2px 2px #121212;
}
.button{
	padding:25px 50px;
}

.button_container {
	margin: 20px 0;
}

a.button:hover {
	color: #FFF;
}

body.home_1 {
	background-image: url('https://touchcatdigital.github.io/touchcatidigital.github.io/image/family_bike.jpg');
}

body.home_2 {
	background-image: url('https://touchcatdigital.github.io/touchcatidigital.github.io/image/grandfather_daughter.jpg');
}

body.home_3 {
	background-image: url('https://touchcatdigital.github.io/touchcatidigital.github.io/image/happycouple.jpg');
}

body.home_3 {
	background-image: url('../image/happycouple.jpg');
}

body.pushed {
	background-image: none;

}

.wrapper {
	padding: 0 50px;
	background-color: rgba(20, 20, 20, 0.4);
}

/*HEADER*/

.header {
	padding: 0 50px;
	background-color: #121212;
}

.menu_nav_text {
	color: #FFF;
	line-height: 3em;
	line-height: 3rem;
	text-transform: uppercase;
}

.menu_nav_text:hover {
	color: #DEB406;
}

.menu_nav_text.selected {
	border-bottom: solid #DEB406;
}

.homepage_header {
	margin-top: 129px;
	letter-spacing: 16px;
}

.small_header .homepage_header {
	margin-top: 90px;
}

.homepage_sub_header {
	margin-top: 8px;
}

.menu_nav_item {
	margin-right: 30px;
	position: relative;
}

.site_logo {
	height: auto;
	margin: 25px 0;
}

.site_logo img {
	width: 200px;
}

.banner_image {
	background-position: center;
	height: 420px;
	margin: 0 auto;
	color: white;
}

.banner_image.about_us_banner {
	background-image: url('../image/cropped_aboutus3.jpg');
	background-position: center 60%;
}

.banner_image.contact_us {
	background-image: url('../image/contactus_cropped2.jpg');
	background-position: center 70%;
}

/*FOOTER*/

.address_bar {
	margin-top: 8px;
	line-height: 2em;
	line-height: 2rem;
	font-size: 1em;
	font-size: 1rem;
}

.address_bar>div {
	margin-bottom: 19px;
}

.address_bar>div {
	color: #FFF;
}

.address_bar>div:last-child {
	margin-bottom: 0;
}

.address_bar .link_color, .address_bar .link_color:visited {
	color: #009DDC;
}

.footer {
	background-color: #121212;
	padding: 20px 8%;
	font-size: 1em;
	font-size: 1rem;
}

.footer .menu_nav_item>.menu_nav_text:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	display: none;
}

.copyright_text {
	font-size: 1em;
	font-size: 1rem;
	color: #FFF;
	line-height: 1.14em;
	line-height: 1.14rem;
	padding-top: 16px;
}

.mobile_navigation>div {
	z-index: 2;
}

/*PAGE CONTENT*/

a {
	color: #009DDC;
}

a:hover {
	color: #0B86E8;
}

.page_content {
	opacity: 0;
	text-align: center;
	text-shadow: 2px 2px #121212;
}

.page_content h1 {
	margin: 20px 0;
}

.load {
	opacity: 1;
}

.opacity_fade {
	-moz-transition-duration: 750ms;
	-webkit-transition-duration: 750ms;
	-o-transition-duration: 750ms;
	transition-duration: 750ms;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes fadein {
	/* Firefox */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	/* Safari and Chrome */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-o-keyframes fadein {
	/* Opera */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

/*About Us Page */

.about_us {
	background-color: #FFF;
	color: #121212;
	text-shadow: none;
	padding: 100px;
	width: 100%;
	font-size: 1.5em;
	font-size: 1.5rem;
	margin: 0 auto;
}

.about_us>h2 {
	font-weight: 100;
	font-size: 1.8em;
	font-size: 1.8rem;
	letter-spacing: 5px;
	width: 35%;
	margin: 30px auto;
	color: #121212;
	border-bottom: solid 2px #DEB406;
	text-transform: uppercase;
}

.about_us>p {
	text-align: justify;
	line-height: 2.6em;
	line-height: 2.6rem;
}

.about_us>ul {
	display: inline-block;
	text-align: left;
	list-style: circle;
	width: 100%;
	padding: 0 50px;
	margin: 10px auto;
}

.about_us>.line {
	border-bottom: solid #009DDC;
	width: 300px;
	margin: 2.5px auto 20px;
	padding: 0;
}

/*Contact Us Page*/

.wrapper.pushed {
	padding: 0;
}

.wrapper.pushed .site_logo {
	margin: 0 50px;
	padding: 20px 0;
}

h1.pushed {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

.contact_us_form {
	width: 100%;
	color: #121212;
	text-shadow: none;
	text-align: left;
	overflow: hidden;
}

.contact_us_form>.left_pane, .contact_us_form>.main_pane {
	padding: 200px 50px 100%;
	margin-bottom: -100%;
}

.contact_us_form>.left_pane {
	width: 35%;
	background-color: #D9D9D9;
}

.contact_us_form>.left_pane.h3 {
	font-size: 1.2em;
	font-size: 1.2rem;
}

.left_pane .line, .main_pane .line {
	border-bottom: solid 1px #121212;
	margin: 5px 0;
	padding: 0;
}

.left_pane .line {
	width: 50px;
}

.main_pane .line {
	width: 150px;
	margin: 0 auto;
}

.left_pane ul {
	text-align: left;
	display: inline-block;
	list-style-type: circle;
	margin: 20px 20px;
	padding: 0 0 200px;
}

.contact_us_form>.main_pane {
	text-align: center;
	width: 65%;
	background-color: #FFF;
}

.main_pane p {
	margin: 20px auto;
	font-size: .8em;
}

/*RESPONSIVE*/

.mobile_navigation {
	display: none;
	visibility: hidden;
	z-index: 5000;
	position: relative;
}

.mobile_nav {
	display: none;
	visibility: hidden;
	background-color: #121212;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	width: 100vw;
	z-index: 1;
	height: auto;
	max-height: 0;
}

.hamburger_menu {
	margin: 15px 0;
}

.mobile_nav .menu_nav {
	padding-top: 47px;
}

.mobile_nav .menu_nav_item {
	float: none;
	clear: both;
	width: 100%;
	text-align: center;
}

.mobile_nav .menu_nav_text {
	font-size: 2.09em;
	font-size: 2.09rem;
	line-height: 6.65em;
	line-height: 6.65rem;
}

.mobile_nav .menu_nav_text:before {
	content: "";
	width: 0;
	height: 0;
	display: none;
	visibility: hidden;
}

.mobile_nav .menu_nav_text:after {
	content: "";
	position: absolute;
	padding: 0 25%;
	width: 50%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #757575;
	-ms-transform: scaleX(0.5);
	-moz-transform: scaleX(0.5);
	-webkit-transform: scaleX(0.5);
	-o-transform: scaleX(0.5);
	transform: scaleX(0.5);
}

.mobile_nav .menu_nav_item:last-child .menu_nav_text:after {
	content: "";
	width: 0;
	height: 0;
	display: none;
	visibility: hidden;
}

.span_1_of_2 {
	width: 50%;
}

@media only screen and (max-width: 998px) {
	body {
		background-position: center right;
	}
	.main_navigation {
		display: none;
		visibility: hidden;
	}
	.mobile_nav, .mobile_navigation {
		display: block;
		visibility: visible;
	}
	.page_content {
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	.page_content>.line {
		width: 100px;
	}
	.address_bar {
		float: none;
		text-align: center;
	}
	.copyright_text {
		float: none;
		text-align: center;
	}
}
