@charset "utf-8";
/*Site Classes*/
@font-face {
	font-family: Bitter;
	font-display: fallback;
	src: local('Bitter'),
	url('/font/bitter-regular.woff2') format('woff2'),
	url('/font/bitter-regular.woff') format('woff'),
	url('/font/bitter-regular.ttf') format('truetype');
}
@font-face {
	font-family: 'PT Sans';
	font-display: fallback;
	src: local('PT Sans'),
	url('/font/PTS55F.woff2') format('woff2'),
	url('/font/PTS55F.woff') format('woff'),
	url('/font/PTS55F.ttf') format('truetype');
}
html {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
body {
	background-color: #F1F1F1;
	color: #FFF;
	font-size: 1.615em;
	font-size: 1.615rem;
	line-height: 2.85em;
	line-height: 2.85rem;
	overflow-x: hidden;
	overflow-y: auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1, h2, h3, h4, .menu_nav_text {
	font-family: Bitter, Georgia, 'Times New Roman',serif;
}
h1 {
	text-transform: uppercase;
	text-shadow: 2px 2px #121212;
}
a.button:hover {
	color: #FFF;
}
.button{
	padding:25px 50px;
}
.button_container {
	margin: 20px;
}

a.button:hover {
	color: #FFF;
}
.site_logo{
	height:auto;
}
body.home_1 {
	background-image: url('/image/family_bike.jpg');
}

body.home_2 {
	background-image: url('/image/grandfather_daughter.jpg');
}

body.home_3 {
	background-image: url('/image/happycouple.jpg');
}
body.pushed {
	background-image: none;
}

.wrapper {
	background-color: rgba(20, 20, 20, 0.4);
}

/*HEADER*/
.header {
	padding: 0 8%;
	background-color: #121212;
}

.menu_nav_text {
	color: #FFF;
	line-height: 3em;
	line-height: 3rem;
	text-transform: uppercase;
}

.menu_nav_text:hover {
	color: #DEB406;
}

.menu_nav_text.selected {
	border-bottom: solid #DEB406;
}

.homepage_header {
	margin-top: 129px;
	letter-spacing: 16px;
}

.small_header .homepage_header {
	margin-top: 90px;
}

.homepage_sub_header {
	margin-top: 8px;
}

.menu_nav_item {
	margin-right: 30px;
	position: relative;
}
.site_logo img {
	width: 200px;
	position: relative;
}
.banner_image {
	position: relative;
	margin: 0 auto;
	color: white;
}
.banner_image h1{
	position: relative;
}
.banner_image.about_us_banner {
	background-image: url('/image/cropped_aboutus3.jpg');
	background-position: center 65%;
	height: 420px;
}
.banner_image.contact_us {
	background-image: url('/image/contactus_cropped2.jpg');
	background-position: center 70%;
	height: 420px;
}

.overlay {
	position: absolute;
	background-color: rgba(20, 20, 20, 0.6);
	width: 100%;
	height: 100%;
	z-index: 1;
	top:0;
	left:0;
}
/*FOOTER*/
.address_bar {
	margin-top: 8px;
	line-height: 1.5em;
	line-height: 1.5rem;
	font-size: 1em;
	font-size: 1rem;
}

.address_bar>div {
	margin-bottom: 19px;
}

.address_bar>div {
	color: #FFF;
}

.address_bar>div:last-child {
	margin-bottom: 0;
}

.address_bar .link_color, .address_bar .link_color:visited {
	color: #FFF;
}

.footer {
	background-color: #121212;
	padding: 20px 8%;
	font-size: 1em;
	font-size: 1rem;
}

.footer .menu_nav_item>.menu_nav_text:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	display: none;
}

.copyright_text {
	font-size: 1em;
	font-size: 1rem;
	color: #FFF;
	line-height: 1.14em;
	line-height: 1.14rem;
	padding-top: 16px;
}

.mobile_navigation>div {
	z-index: 2;
}

/*PAGE CONTENT*/

a {
	color: #009DDC;
}

a:hover {
	color: #0B86E8;
}

.page_content {
	text-align: center;
	text-shadow: 2px 2px #121212;
	padding:0 8%;
}
.page_content>.span_1_of_2{
	opacity: 0;
}
.page_content h1 {
	margin: 20px 0;
}
.opacity_fade {
	-moz-transition-duration: 750ms;
	-webkit-transition-duration: 750ms;
	-o-transition-duration: 750ms;
	transition-duration: 750ms;
}
.banner_image>h1 {
	text-align: center;
	margin: 40px auto;
}
/*About Us Page */
.about_us {
	background-color: #FFF;
	color: #121212;
	text-shadow: none;
	padding: 25px 8%;
	margin: 0 auto;
	opacity: 1;
	text-align:left;
}
.about_us h2 {
	font-weight: 100;
	font-size: 1.8em;
	font-size: 1.8rem;
	letter-spacing: 2px;
	width: 80%;
	margin: 30px auto;
	color: #121212;
	border-bottom: solid 2px #DEB406;
	text-transform: uppercase;
	text-align:center;
}
.about_us p {
	text-align: justify;
	line-height: 2.6em;
	line-height: 2.6rem;
}

.about_us ul {
	display: inline-block;
	text-align: left;
	list-style: circle;
	width: 100%;
	padding: 0 50px;
	margin: 10px auto;
}

.about_us>.line {
	border-bottom: solid #009DDC;
	width: 300px;
	margin: 2.5px auto 20px;
	padding: 0;
}
/*Contact Us Page*/
.contact_us{
	opacity: 1;
	text-shadow: none;
	text-align: left;
	overflow: hidden;
}
.contact_us .fluid_container{
	color:#121212;
}
.contact_us{
	padding:20px 8%;
	background-color: #D9D9D9;
}
.contact_us .span_2_of_3{
	line-height:1.75em;
	line-height:1.75rem;
	padding:0 20px;
	border-left:1px solid #121212;
}
.contact_us .span_1_of_3>div{
	margin:40px 0;
}
.contact_us .span_1_of_3>div:first-child{
	margin:0;
}
/*MAP*/
.map_box{
	width:100%;
	margin:10px auto;
	height: 480px;
}
/*RESPONSIVE*/
.mobile_navigation {
	display: none;
	visibility: hidden;
	z-index: 5000;
	position: relative;
}
.mobile_nav {
	display: none;
	visibility: hidden;
	background-color: #121212;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	width: 100vw;
	z-index: 1;
	height: auto;
	max-height: 0;
}
.hamburger_menu {
	margin: 15px 0;
}
.mobile_nav .menu_nav {
	padding-top: 47px;
}
.mobile_nav .menu_nav_item {
	float: none;
	clear: both;
	width: 100%;
	text-align: center;
}
.mobile_nav .menu_nav_text {
	font-size: 2.09em;
	font-size: 2.09rem;
	line-height: 6.65em;
	line-height: 6.65rem;
}
.mobile_nav .menu_nav_text:before {
	content: "";
	width: 0;
	height: 0;
	display: none;
	visibility: hidden;
}
.mobile_nav .menu_nav_text:after {
	content: "";
	position: absolute;
	padding: 0 25%;
	width: 50%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #757575;
	-ms-transform: scaleX(0.5);
	-moz-transform: scaleX(0.5);
	-webkit-transform: scaleX(0.5);
	-o-transform: scaleX(0.5);
	transform: scaleX(0.5);
}
.mobile_nav .menu_nav_item:last-child .menu_nav_text:after {
	content: "";
	width: 0;
	height: 0;
	display: none;
	visibility: hidden;
}
.header{
	z-index:2;
}
.banner_image{
	padding: 25px 8%
}
.wrapper{
	z-index:1;
}
.banner_image>.overlay{
	z-index:1;
}
.banner_image>.site_logo,
.banner_image>h1,
.banner_image>.site_logo img{
	z-index:2;
}
@media only screen and (max-width: 998px) {
	body {
		background-position: center right;
	}
	.main_navigation {
		display: none;
		visibility: hidden;
	}
	.mobile_nav, .mobile_navigation {
		display: block;
		visibility: visible;
	}
	.page_content {
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	.fluid_container >.span_2_of_3{
		border:0;
		padding:0;
		grid-row: 2;
		grid-column: 1;
	}
	.fluid_container >.span_1_of_3{
		grid-column: 1;
	}
	.fluid_container >.span_1_of_3,
	.fluid_container >.span_2_of_3,
	.fluid_container >.span_1_of_2{
		width:100%;
		flex: 0 1 100%;
		-ms-grid-column-span: 12;
			grid-column-end: span 12;
	}
	.page_content>.line {
		width: 100px;
	}
	.address_bar {
		float: none;
		text-align: center;
	}
	.copyright_text {
		float: none;
		text-align: center;
	}
	body.home_1{
		background-position:75% center;
	}
}